<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver </property>
   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sample</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">Suji6SQL</property>
   
    <property name="hibernate.connection.pool_size">1</property>
    
	<property name="hibernate.connection.autocommit"></property>
	
	<property name="hibernate.hbm2ddl.auto">create</property>
	
	    <property name="show_sql">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.testing.cache.CachingRegionFactory</property>
 
 <!-- List of XML mapping files -->
        <mapping class="com.mms.one.dao.McdMenu"/>
        
       
</session-factory>
</hibernate-configuration>